<h1>Sign Up Below:</h1>
<<<<<<< HEAD
<form action="/registrations" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="name">

  <label for="name">Email:</label>
  <input type="text" name="email" value="email" id="email">

  <label for="name">Password:</label>
  <input type="text" name="password" value="password">

  <input type="submit" value="Sign Up">
=======
<form method="POST" action="/registrations">
Name: <input type="text" name="name" placeholder="Jon Doe">
Email: <input type="text" name="email" placeholder="jon@example.com">
Password: <input type="password" name="password">
<input type="submit" value="Sign Up">
>>>>>>> 3e17c76565a3dde8218386ca4fd1e553225eeb36
</form>
